:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 2em;
}

#header,
#product-flex,
#recommendations {
  border-bottom: #f9f9f9 .25em solid;
  padding-bottom: 1em;
}

p {
  font-size: var(--font-size-base);
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: none;
  gap: 3em;
}

nav ul li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-md);
}

.top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.top-grid #span-image {
  grid-column: 1 / 4;
}

.top-grid img {
  border-radius: .25em;
}

.button {
  background-color: black;
  color:#fff;
  padding: .75em;
  border-radius: .25em;
  font-size: var(--font-size-sm);
}

#button {
  padding-top: .5em;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-md);
}

h4 {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

h1 + h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.title {
  padding: 0;
}

#about h2,
#reviews h2,
#recommendations h2 {
  text-align: center;
}

#reviews {
  background-color: black;
  color: #fff;
}

#reviews article {
  padding: 0 1.5em;
}

.italic {
  font-style: italic;
}

.rec-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

.rec-grid li {
  background-color: #f9f9f9;
  border-radius: .25em;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}

.rec-grid li img {
  border-radius: .25em;
}

#footer {
  text-align: center;
}

@media (min-width: 40em){

  .top-grid #span-image {
    grid-column: auto;
  }
  .top-grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .about-flex {
    display: flex;
    gap: 1.5em;
  }
  .review-flex {
    display: flex;
    gap: 2em;
  }
  .rec-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  }
}

@media (min-width: 60em){
  
  #product-flex {
    display: flex;
  }

}